{% extends 'layout.html' %}

{% block body %}
    <h1>About</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="tile">
                <ul class="list-group">
                    <li class="list-group-item one-head"><h4>Python Skills</h4></li>
                    <li class="list-group-item one">Flask</li>
                    <li class="list-group-item one">Tkinter and GUI</li>
                    <li class="list-group-item one">Databases, SQLAlchemy, MySQL</li>
                    <li class="list-group-item one">Numpy, Pandas, and Matplotlib</li>
                    <li class="list-group-item one">Web scraping with Selinium and Beautiful Soup</li>
                    <li class="list-group-item one">XML and JSON parsing</li>
                    <li class="list-group-item one">API gateway building (Amazon S3 and Caspio)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile">
                <ul class="list-group one">
                    <li class="list-group-item two-head"><h4>Caspio & SQL Skills</h4></li>
                    <li class="list-group-item two">Go-to person for working with datetime fields</li>
                    <li class="list-group-item two">Go-to person for complex Caspio formulas</li>
                    <li class="list-group-item two">Aggregates in tasks</li>
                    <li class="list-group-item two">Scheduling guru</li>
                    <li class="list-group-item two">Passing parameters to cascading dropdowns</li>
                    <li class="list-group-item two">Variables and table variables in tasks and triggers</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile">
                <ul class="list-group two">
                    <li class="list-group-item three-head"><h4>Javascript Skills</h4></li>
                    <li class="list-group-item three">Input and select manipulation</li>
                    <li class="list-group-item three">I know enough Node.js to be dangerous</li>
                    <li class="list-group-item three">Jquery</li>
                    <li class="list-group-item three">Passing parameters to urls</li>
                    <li class="list-group-item three">Using events and timeouts</li>
                    <li class="list-group-item three">Adding classes for css use</li>
                </ul>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-8">
            <div class="tile">
                <ul class="list-group">
                    <li class="list-group-item three-head"><h4>Work Skills</h4></li>
                    <li class="list-group-item three">Not afraid to ask questions and dig for answers</li>
                    <li class="list-group-item three">Solution finder able to teach myself what I need to know to solve a problem</li>
                    <li class="list-group-item three">Strong in collaboration, teamwork, conflict resolution, and active listening</li>
                    <li class="list-group-item three">Reliable, punctual, respectful, and effective</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile">
                <ul class="list-group">
                    <li class="list-group-item one-head"><h4>Work Values</h4></li>
                    <li class="list-group-item one">Curiosity</li>
                    <li class="list-group-item one">Creativity</li>
                    <li class="list-group-item one">Adventure</li>
                </ul>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-6">
            <div class="tile">
                <ul class="list-group">
                    <li class="list-group-item two-head"><h4>Favorites</h4></li>
                    <li class="list-group-item two">Star Trek, Star Wars, and all things Sci Fi</li>
                    <li class="list-group-item two">Craft food and beer</li>
                    <li class="list-group-item two">Travel</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tile">
                <ul class="list-group">
                    <li class="list-group-item three-head"><h4>Hobbies</h4></li>
                    <li class="list-group-item three">Painting</li>
                    <li class="list-group-item three">Coffee roasting</li>
                    <li class="list-group-item three">Learning how to do more</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}