{% extends 'layout.html' %}

{% block body %}
<script src="/static/scripts/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
  tinymce.init({
    selector: '#content'
  });
 </script>
 <div class="row">
    <div class="col-sm-8">
        <h1>Create a post</h1>
        <p>
        <form method="POST" action="{{ fpath }}" enctype="multipart/form-data">
        <!-- Post type radio input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="p_type">Type</label>
            <div class="radio">
                <label><input type="radio" name="p_type" {% if post[8] == 'blog' %} checked {% endif %} value="blog"> Blog Post</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="p_type" {% if post[8] == 'portfolio' %} checked {% endif %} value="portfolio"> Portfolio Entry</label>
            </div>
        </div>
        <!-- Title input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="title">Post title</label>
            <input name="title" type="text" class="form-control" value="{{ post[3] }}"></input>
        </div>
        <!-- Post input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="body">Post body</label>
            <textarea name="body" class="form-control" rows="20" id="content">{{ post[4] }}</textarea>
        </div>
        <!-- Git hub link input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="keywords">Github link for embed (<a href="https://emgithub.com/">click here to get link</a>)</label>
            <input name="emgithub" type="text" class="form-control" value="{{ post[6] }}"></input>
        </div>
        <!-- Youtube link input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="youtube">Youtube link for embed</label>
            <input name="youtube" type="text" class="form-control" value="{{ post[7] }}"></input>
        </div>
        <!-- Keywords input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="keywords">Keywords</label>
            <input name="keywords" type="text" class="form-control" value="{{ post[10] }}"></input>
        </div>
        <!-- File upload -->
        <div class="form-outline mb-4">
            <label class="form-label" for="file">Upload image</label>
            <input name="file" type="file" class="form-control"></input>
        </div>
        <br />
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit post</button>
        </form>
        </p>
    </div>
    <div class="col-sm-4">
    <h1>Current image</h1><br /><br />
    <img src="{{ post[5] }}" width="100%" />
    
    </div>
</div>
{% endblock %}