{% extends 'layout.html' %}

{% block body %}
    <h1>Register</h1>
    <p>
        <form style="max-width:400px;" method="POST" action = "{{ url_for('register') }}">
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input name="fullname" type="text" class="form-control" value="{{ request.form['fullname'] }}"></input>
            <label class="form-label" for="fullname">Name</label>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input name="email" type="email" class="form-control" value="{{ request.form['email'] }}"></input>
            <label class="form-label" for="email">Email address</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <input name="password" type="password" class="form-control" value="{{ request.form['password'] }}"></input>
            <label class="form-label" for="password">Password</label>
        </div>
        <!-- Password 2 input -->
        <div class="form-outline mb-4">
            <input name="password_two" type="password" class="form-control" value="{{ request.form['password_two'] }}"></input>
            <label class="form-label" for="password_two">Password</label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
        </form>
    </p>
    {{ msg }} 
{% endblock %}