{% extends 'layout.html' %}

{% block body %}
    <h4 class="sm-headers"><strong>Python, Caspio, Javascript, SQL, CSS, HTML, Google Apps Script</strong></h4>
    <p class="sm-headers">Empathy, leadership, problem management, active listening, ingenuity, architectural thinking, global thinking</p>
    <div class="row">
        <div class="col-sm-7">
            <h4>Professional Experience</h4>
            <div class="gray">
                <div class="list-group">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Senior Caspio Developer</strong><br />
                                <strong>Caspio Developer</strong><br />
                                Solutions Afoot<br />
                                <ul>
                                    <li>Team lead</li>
                                    <li>Primary developer on an inspection scheduling application project for a major engineering firm, through the process of creation, debugging, testing, launch, and refinement</li>
                                    <li>Assist colleagues with SQL queries, Caspio formulas, and Caspio triggers</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                1/23 - now<br />
                                5/22 - 12/22<br />
                                (Remote only)
                            </div>
                        </div>
                    </div>
                    <a href="#experience" data-toggle="collapse" style="margin-left:15px;margin-bottom:10px;">Click here for more experience...</a>
                    <div id="experience" class="collapse">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="list-group-item left">
                                    <strong>Lead School Counselor</strong><br />
                                    Lexington Senior High School<br />
                                    <ul>
                                        <li>Wrote and deployed a Google Apps Script that fed spreadsheet data from PowerSchool (student information system) into a Google Doc template</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 right">
                                <div class="list-group-item right">
                                    8/21 - 6/22<br />
                                    Lexington, NC
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-8">
                                <div class="list-group-item left">
                                    <strong>Principal Intern</strong><br />
                                    Cooleemee Elementary School<br />
                                    <ul>
                                        <li>Collaborated with district staff on district-level Google Apps Script projects</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 right">
                                <div class="list-group-item right">
                                    1/20 - 6/20<br />
                                    Cooleemee, NC
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-8">
                                <div class="list-group-item left">
                                    <strong>School Counselor</strong><br />
                                    <strong>Career Counselor</strong><br />
                                    <strong>Guidance & Academic Support</strong><br />
                                    Davie County Early College High School<br />
                                    <ul>
                                        <li>Completed several large Google Apps Script projects with Davie County Schools</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 right">
                                <div class="list-group-item right">
                                    8/14 - 8/21<br />
                                    2/12 - 7/14<br />
                                    8/10 - 1/12<br />
                                    Mocksville, NC
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h4>Licensure & Certifications</h4>
            <div class="gray">
                <div class="list-group">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Caspio Certified Developer</strong><br />
                                Caspio.com
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                4/22<br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>JavaScript Algorithms & Data Structures Certification</strong><br />
                                FreeCodeCamp.org
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                9/18<br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Global Career Development Facilitator</strong><br />
                                Center for Credentialing & Education
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                3/16<br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Professional Educator’s License</strong><br />
                                North Carolina Department of Public Instruction
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                6/20<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h4>Education</h4>
            <div class="gray">
                <div class="list-group">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Certificate in IT-Prog & Software Dev Computer Programming</strong><br />
                                Forsyth Technical Community College
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                5/22 - now<br />
                                Winston-Salem, NC
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Master of Education in Educational Leadership</strong><br />
                                High Point University Leadership Academy - Stout School of Education
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                1/19 - 5/20<br />
                                High Point, NC
                            </div>
                        </div>
                    </div>
                    <a href="#education" data-toggle="collapse" style="margin-left:15px;margin-bottom:10px;">Click here for more education...</a>
                    <div id="education" class="collapse">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="list-group-item left">
                                    <strong>Master of Education in School Counseling</strong><br />
                                    Salem College
                                    
                                </div>
                            </div>
                            <div class="col-sm-4 right">
                                <div class="list-group-item right">
                                    8/12 - 5/14<br />
                                    Winston-Salem, NC
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="list-group-item left">
                                    <strong>Master of Divinity in Biblical Studies</strong><br />
                                    Campbell University Divinity School
                                </div>
                            </div>
                            <div class="col-sm-4 right">
                                <div class="list-group-item right">
                                    8/01 - 5/04<br />
                                     Buies Creek, NC
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="list-group-item left">
                                    <strong>Bachelor of Arts in Biochemistry & Spanish</strong><br />
                                    Asbury University
                                </div>
                            </div>
                            <div class="col-sm-4 right">
                                <div class="list-group-item right">
                                    8/95 - 5/99<br />
                                    Wilmore, KY
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h4>Professional Training</h4>
            <div class="gray">
                <div class="list-group">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Innovation Leadership for Educators</strong><br />
                                Center for Creative Leadership
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                9/19
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Change Leadership</strong><br />
                                Piedmont Triad Education Consortium
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                2/19
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="list-group-item left">
                                <strong>Leadership Dynamics in Practice for Educational Leaders</strong><br />
                                The BB&T Leadership Institute
                            </div>
                        </div>
                        <div class="col-sm-4 right">
                            <div class="list-group-item right">
                                1/19
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}